﻿@model IEnumerable<booking.Models.OpenAir>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Headliner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PathToOpenAir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Performer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmounTickets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geo_lat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geo_lng)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Headliner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PathToOpenAir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Performer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmounTickets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geo_lat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geo_lng)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-controller="Home" asp-action="Index">Back to HOME</a>
</p>