﻿@model booking.Models.Concert

<div class="form-group">
    <label asp-for="Performer" class="control-label"></label>
    <input asp-for="Performer" class="form-control" />
    <span asp-validation-for="Performer" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="AmounTickets" class="control-label"></label>
    <input asp-for="AmounTickets" class="form-control" />
    <span asp-validation-for="AmounTickets" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Date" class="control-label"></label>
    <input asp-for="Date" class="form-control" />
    <span asp-validation-for="Date" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Geo_lat" class="control-label"></label>
    <input asp-for="Geo_lat" class="form-control" />
    <span asp-validation-for="Geo_lat" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Geo_lng" class="control-label"></label>
    <input asp-for="Geo_lng" class="form-control" />
    <span asp-validation-for="Geo_lng" class="text-danger"></span>
</div>

