﻿
<!DOCTYPE html>
<html lang="en">

@using Microsoft.AspNetCore.Identity
 
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - booking</title>
    <link rel="stylesheet" href="~/dist/bundle.css" asp-append-version="true" /> 
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="HomePage">booking</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Tickets" asp-route-username="@User.Identity.Name" asp-action="GetAllTicketByEmail">My tickets</a>
                            </li>
                        }

                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle  text-dark" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Add concert
                                    </button>
                                    <div class="dropdown-menu bg-light" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item text-dark bg-light" asp-controller="Parties" asp-action="Create">Add Party</a>
                                        <a class="dropdown-item text-dark bg-light" asp-controller="Classics" asp-action="Create">Add Classic</a>
                                        <a class="dropdown-item text-dark bg-light" asp-controller="OpenAirs" asp-action="Create">Add OpenAir</a>

                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle  text-dark" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Edit concert
                                    </button>
                                    <div class="dropdown-menu bg-light" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item text-dark bg-light" asp-controller="Parties" asp-action="Index">Edit Parties</a>
                                        <a class="dropdown-item text-dark bg-light" asp-controller="Classics" asp-action="Index">Edit Classics</a>
                                        <a class="dropdown-item text-dark bg-light" asp-controller="OpenAirs" asp-action="Index">Edit OpenAirs</a>

                                    </div>
                                </div>
                            </li>
                        }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/dist/bundle.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
