﻿@model booking.ViewModel.UserViewModel

@{
    ViewData["Title"] = "Index";
}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="user-tab" data-bs-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="true">User</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="role-tab" data-bs-toggle="tab" href="#role" role="tab" aria-controls="role" aria-selected="false">Role</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="edit-tab" data-bs-toggle="tab" href="#edit" role="tab" aria-controls="edit" aria-selected="false">Edit</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="user" role="tabpanel" aria-labelledby="user-tab">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <div>№</div>
                    </th>

                    <th>
                        <div>Email</div>
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 0;}
                @foreach (var item in Model.identityUsers)
                {
                    <tr>
                        <td>
                            @{
                                i++;
                            }<div>@i</div>
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>

                        <td>
                            <a asp-controller="Roles" asp-action="giveAdminRole" asp-route-id=@item.Id class="btn btn-outline-secondary">
                                <span title="Дать роль админа" class="fas fa-unlock"></span>
                            </a>
                            <a asp-controller="Roles" asp-action="giveUserRole" asp-route-id=@item.Id class="btn btn-outline-secondary">
                                <span title="Дать роль юзера" class="fas fa-user"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="tab-pane fade" id="role" role="tabpanel" aria-labelledby="role-tab">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <div>№</div>
                    </th>

                    <th>
                        <div>Email</div>
                    </th>

                    <th>
                        <div>Role</div>
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ int j = 0;}
                @foreach (var item in Model.userModels)
                {
                    <tr>
                        <td>
                            @{
                                j++;
                            }<div>@j</div>
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>

                        <td>
                            <a asp-controller="AdminAccount" asp-action="DeleteUserRole" asp-route-id=@item.Id asp-route-role="@item.Role" class="btn btn-outline-secondary">
                                <span title="Удалить роль пользователя" class="fas fa-trash"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="tab-pane fade" id="edit" role="tabpanel" aria-labelledby="edit-tab">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <div>№</div>
                    </th>

                    <th>
                        <div>Email</div>
                    </th>

                    <th>
                        <div>Role</div>
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ int k = 0;}
                @foreach (var item in Model.userModels)
                {
                    <tr>
                        <td>
                            @{
                                k++;
                            }<div>@k</div>
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>

                        <td>
                            <a asp-controller="AdminAccount" asp-action="EditUser" asp-route-id=@item.Id class="btn btn-outline-secondary">
                                <span title="Редактировать юзера" class="fas fa-pencil-alt"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>