﻿@model booking.ViewModel.TicketViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BookTicket">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ticket.UserName" class="control-label"></label>
                <input asp-for="ticket.UserName" class="form-control" value=@Model.ticket.UserName readonly="readonly" />
                <span asp-validation-for="ticket.UserName" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="ticket.ConcertId" class="control-label"></label>
                <input asp-for="ticket.ConcertId" class="form-control" value=@Model.ticket.ConcertId />
                <span asp-validation-for="ticket.ConcertId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ticket.performer" class="control-label"></label>
                <input asp-for="ticket.performer" class="form-control" value=@Model.ticket.performer readonly="readonly" />
                <span asp-validation-for="ticket.performer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ticket.AmountPlaces" class="control-label"></label>
                <input asp-for="ticket.AmountPlaces" class="form-control" />
                <span asp-validation-for="ticket.AmountPlaces" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="BookTicket" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
