﻿@model IEnumerable<booking.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>List tickets</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConcertId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountPlaces)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConcertId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountPlaces)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            </td>            
        </tr>
}
    </tbody>
</table>
