﻿@model booking.ViewModel.ConcertViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Concert map</h1>

<style>
    #map {
        height: 400px;
    }
</style>
<div class="row">
    <div class="col">
        <form method="get" name="form">
            <select class="form-control" name="typeConcert" onchange="this.form.submit()">
                <option value="" selected disabled hidden>Choose type_of_concert here</option>
                @foreach (var item in Model.ConcertModels)
                {
                    <option value="@item">@item</option>
                }
            </select>
        </form>
    </div>

    <div class="col">
        <form method="get" name="form">
            <select class="form-control" name="month" onchange="this.form.submit()">
                <option value="" selected disabled hidden>Choose month here</option>
                @foreach (var item in Model.Month)
                {
                    <option value="@item.Key">@item.Value</option>
                }
            </select>
        </form>
    </div>

</div>
<br />
<div id="map">
</div>

<table class="table">

    <tbody>
        @foreach (Concert item in Model.Concerts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Performer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmounTickets)
                </td>
                <td>
                    <a asp-controller="Tickets" asp-action="BookTicket" asp-route-email=@User.Identity.Name asp-route-idConcert=@item.Id asp-route-performer=@item.Performer class="btn btn-outline-secondary">
                        <i class="" aria-hidden="true">Забронировать билет</i>
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    var map;
    function initMap(zoomeLevel)
    {
        const Minsk = { lat: 53.881679, lng: 27.577779 };
        map = new google.maps.Map(
            document.getElementById('map'),
            {
                center: Minsk,
                zoom: zoomeLevel != null ? zoomeLevel : 3

            }
        );

        // Make a request for a user with a given ID

        function addMarkerOnMap(dataObj)
        {
            let lat = dataObj.lat;
            let lng = dataObj.lng;

            let marker = new google.maps.Marker(
                {
                    position: { lat: lat, lng:lng },
                    map: map,
                    title: "Click me",
                }
            );

            marker.addListener("click", () => {
                let str = "https://localhost:44331/Identity/Account/Register"; // need fix right path
                window.open(str, "_blank");
            }
            );
        }

        @foreach (var item in Model.Concerts)
        {
            <text>
                var data = { id:@item.Id, lat:@item.Geo_lat, lng:@item.Geo_lng };
                var dataObj = Object.create(data);
                addMarkerOnMap(dataObj);
            </text>
        }

    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGdnPqYWZ5CshA5PRxQvfUX0S01p1aH08&callback=initMap" async defer></script>


