﻿@model booking.ViewModel.ConcertViewModel

@{
    ViewData["Title"] = "Index";
}

<h3>Common information</h3>
<form class="form-inline">
    <label>Выберите тип концерта:</label>
    <select name="typeConcert" class="form-control">
        @foreach (var concert in Model.ConcertModels)
        {
            <option value="@concert">@concert</option>
        }
    </select>
    <input type="submit" />
</form>
<table class="table">
    
    <tbody>
        @foreach (Concert item in Model.Concerts)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Performer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmounTickets)
            </td>
            <td>
                <a asp-controller="Tickets" asp-action="BookTicket" asp-route-email=@Model.email asp-route-idConcert=@item.Id asp-route-performer=@item.Performer class="btn btn-outline-secondary">
                    <i class="" aria-hidden="true">Забронировать билет</i>
                </a>

            </td>
        </tr>
        }
    </tbody>
</table>
