﻿@model booking.Models.Classic

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Classic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TypeOfVoice" class="control-label"></label>
                <input asp-for="TypeOfVoice" class="form-control" />
                <span asp-validation-for="TypeOfVoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameOfConcert" class="control-label"></label>
                <input asp-for="NameOfConcert" class="form-control" />
                <span asp-validation-for="NameOfConcert" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameOfComposer" class="control-label"></label>
                <input asp-for="NameOfComposer" class="form-control" />
                <span asp-validation-for="NameOfComposer" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />

            @await Html.PartialAsync("~/Views/Shared/_ConcertPartialView.cshtml", new Concert 
                { 
                    Performer = Model.Performer, 
                    AmounTickets = Model.AmounTickets, 
                    Date = Model.Date, 
                    Geo_lat = Model.Geo_lat, 
                    Geo_lng = Model.Geo_lng
                })
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
